.ProductsGridMain {
  padding: 0 20px;
  width: auto;
}
.ProductGridCard {
  margin: 10px 0;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  width: 100%;
}
.CardImage {
  margin: 0 10px;

  border-radius: 7px 7px 0 0;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardImage img {
  height: 100%;
  width: 140px;
}
.gridCardText {
  margin: 0 10px;

  border-radius: 0 0 7px 7px;
  padding: 10px;
  background-color: white;
}
.DashboardProd {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DashboardProd {
  padding: 0 20px;
  margin: 20px 0;
}
.DashboardProd h3 {
  font-size: 20px;
  color: rgb(161, 159, 159);
}

.gridCardText {
  & p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  & h2 {
    font-size: 17px;
  }
}
