.ProductsGridMain {
  padding: 0 20px;
  display: grid;
  gap: 20px;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ProductGridCard {
  border-radius: 7px;
  background-color: rgb(163, 163, 163);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  width: 100%;
}
.CardImage {
  border-radius: 7px 7px 0 0;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardImage img {
  height: 100%;
  width: 140px;
}
.gridCardText {
  border-radius: 0 0 7px 7px;
  padding: 10px;
  background-color: white;
}
.DashboardProd {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DashboardProd {
  padding: 0 20px;
  margin: 20px 0;
}
.DashboardProd h3 {
  font-size: 20px;
  color: rgb(161, 159, 159);
}
.DashboardProd p {
  transition: 0.3s ease-in-out;
  color: rgb(87, 87, 165);
  font-size: 17px;
}
.DashboardProd p:hover {
  color: orangered;
  font-size: 17px;
}
@media (max-width: 957px) {
  .ProductsGridMain {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 757px) {
  .ProductsGridMain {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 514px) {
  .ProductsGridMain {
    grid-template-columns: 1fr;
  }
}
